body {
    min-height: 100vh;
  }
  
  nav {
    margin-bottom: 1rem;
  }
  
  img{
    width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #9a82b9;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 40px;
  }
  
  .container {
    max-width: 80%;
  }
  
  /* Alert */
  .top-bar {
    background-color: #d42c1c;
    color: white;
    padding: 20px;
    border-radius: 0;
    margin-bottom: 0;
  }
  
  .top-bar button {
    height: 100%;
  }
  
  .lead {
    margin-bottom: 0px;
  }
  
  .lead a {
    color: white;
    text-decoration: underline;
  }
  
  .lead a:hover {
    color: #7ac9d3;
  }
  
  /* Brand Icon */
  nav img {
    width: 30px;
    height: auto;
  }
  
  /* Cart & Badge */
  .cart {
    position: relative;
  }
  
  .cart .badge {
    position: absolute;
    top: -10px;
    right: -13px;
    background-color: #7ac9d3;
    border-radius: 50%;
    display: none;
  }
  
  /* Button Overrides */
  .btn {
    background-color: #f4c40e;
    color: white;
  }
  
  .btn:hover {
    box-shadow: 0 0 1px 1px #2c3531;
    background-color: #f4c40e;
    color: white;
  }
  
  .btn:active {
    box-shadow: inset 0 0 1px 1px #2c3531;
    background-color: #f4c40e;
    color: white;
  }
  
  /* Grid Adjustment */
  .row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* Section Headers */
  .section-header {
    display: inline;
    border-bottom: 2px solid #f4c40e;
    padding-right: 20px;
  }
  
  /* Carousel */
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #400000;
    background-size: 85% 85%;
  }
  
  /* Product Info Section */
  .product-info {
    margin-top: 20px;
    border-bottom: 1px solid #f4c40e;
  }
  
  .product-info .nav-link {
    color: inherit;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 3px solid transparent;
  }
  
  .product-info .nav-link:hover,
  .product-info .nav-link:focus,
  .product-info .nav-link.active {
    border: 0px;
    border-top: 3px solid#f4c40e;
    transition: 1s ease;
    border-radius: 0;
  }
  
  /* Similar Items */
  .rec-item:hover {
    border: 1px solid #f4c40e;
  }
  
  /* Chat Button for popover */
  .chat {
    position: fixed;
    height: auto;
    bottom: 20px;
    right: 2%;
    z-index: 999;
    white-space: normal;
    background-color: white;
    color: #f4c40e;
    border: 2px solid #f4c40e;
  }
  
  .chat:hover {
    background-color: white;
    color: #f4c40e;
  }
  
  .closed-state {
    background-color: #f4c40e;
    color: white;
    border: 2px solid white;
  }
  
  .closed-state:hover{
    background-color: #f4c40e;
    color: white;
    border: 2px solid white;
  }
  
  /* Popover */
  .popover {
    width: 250px;
  }
  
  .popover-header {
    display: flex;
    align-items: center;
  }
  
  .form-control {
    width: 100%;
  }
  
  #emailAlert,
  #nameAlert {
    background-color: #f4c40e;
    color: white;
    display: none;
  }
  
  @media (max-width: 992px) {
    .removed{
      display: none;
    }
  }
  #stopConfetti {
      opacity: 0;
  }
  canvas {
    pointer-events: none;
  }

  footer {
    background-image: url('images/banner.png');
    background-color: #d42c1c;
    background-repeat: no-repeat;
    background-size: 250px;
    height: 120px;
    background-position: center;
    background-position-y: 5px;

    
  }